/* margin & Padding set to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* golbal */
.container {
  width: 71%;
  max-width: 1140;
  margin: 0px auto;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.orang-color {
  color: #fd6e0a;
}

.h2-color {
  color: #181818;
}

.p-color {
  color: #757575;
}

.btn {
  background-color: #fd6e0a;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

nav .menu {
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  color: #181818;
  font-size: 20px;
}

#banner {
  border: 1px sold black;
  display: flex;
  gap: 163px;
  margin-top: 47px;
  margin-right: 38px;
  margin-left: 230px;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content h2 {
  /* width: 585px; */
  font-size: 45px;
  font-weight: 600px;
  margin-bottom: 20px;
  margin-top: 5px;
}

#banner .banner-content{
  width: 585px;
}

#banner .banner-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
}
#banner .banner-content p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 500px;
    /* margin-right: 80px; */
    vertical-align: middle;
}